<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>callstats Twilio-Client</title>
    <script type="text/javascript" src="/static/twilio.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/1.5.0/sha.js"></script>
    <script type="text/javascript" src="https://api.callstats.io/static/callstats-twilio-client.min.js"></script>


    <link href="//static0.twilio.com/resources/quickstart/client.css"
          type="text/css" rel="stylesheet"/>
    <script type="text/javascript">
        var appID = "{{ appID }}";
        ;
        var appSecret = "{{ appSecret }}";
        var clientName = "{{ client_name }}";
        var conferenceID = "TwilioTest";
        var remoteUserId;
        var params;
        var KITE = {};


        function csInitCallback(err, msg) {
            console.log("CallStats Initializing Status: err=" + err + " msg=" + msg);
            // KITE binding for csio initialization result.
            KITE.csInitCallbackResult = {
                status: err,
                msg: msg
            };
        }

        function csCallback(err, msg) {
            console.log("CallStats: ", " status: ", err, " msg: ", msg);
            // KITE binding for csio callstats result.
            KITE.csCallbackResult = {
                status: err,
                msg: msg
            };
        }

        function callback(status, results) {
            console.log("preCallTestResults ", status, results);
            // KITE binding for precallTextResult callback result
            KITE.preCallTestResults = {
                status: status,
                results: results
            };
        }

        Twilio.Device.setup("{{ token }}");

        Twilio.Device.ready(function (conn) {
            $("#log").text("Client '{{ client_name }}' is ready");
            console.log('>', appID, appSecret, clientName, params)
            window.CallstatsTwilio.initialize(appID, appSecret, clientName, params, csInitCallback, csCallback);
            window.CallstatsTwilio.callStats.on('preCallTestResults', callback);
            window.setInterval(() => {
                console.log("Triggering precall test");
                window.CallstatsTwilio.callStats.makePrecallTest();
            }, 5 * 60 * 1000)
        });

        Twilio.Device.error(function (error) {
            $("#log").text("Error: " + error.message);
            console.log("Error ", error);
            // When a device error occured
            KITE.deviceError = error;
        });

        Twilio.Device.connect(function (conn) {
            $("#log").text("Successfully established call ");
            console.log("pc is ", conn.mediaStream.version.pc)
        });

        Twilio.Device.disconnect(function (conn) {
            $("#log").text("Call ended");
        });

        Twilio.Device.incoming(function (conn) {
            $("#log").text("Incoming connection from " + conn.parameters.From);
            // accept the incoming connection and start two-way audio
            conn.accept();
            conferenceID = clientName;
            remoteUserId = conn.parameters.From.replace("client:", "");
            CallstatsTwilio.setCallParams(remoteUserId, conferenceID);
        });

        function call() {
            // get the phone number or client to connect the call to
            params = {"PhoneNumber": $("#number").val()};
            var connection = Twilio.Device.connect(params);
            remoteUserId = $("#number").val();
            conferenceID = remoteUserId;
            CallstatsTwilio.setCallParams(remoteUserId, conferenceID);
            console.log("connection is ", connection);
        }

        function hangup() {
            Twilio.Device.disconnectAll();
        }
    </script>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<button class="call" onclick="call();">
    Call
</button>

<button class="hangup" onclick="hangup();">
    Hangup
</button>

<input type="text" id="number" name="number"
       placeholder="Enter a phone number or client to call"/>

<div id="log">Loading pigeons...</div>
</body>
</html>
